@import '../base/variables';

$styleguide-padding-side: $pg-sp*5;
$styleguide-padding-top:  $pg-sp*2;


.pg-styleguide-header {
	margin: $pg-sp*3;
	text-align: center;
	font-weight: bold;
}

.pg-styleguide-subhead {
	text-align: center;
	color: $pg-color-dark-gray;
	margin-top: $pg-sp*8;
	margin-bottom: $pg-sp;
}

.pg-styleguide-color-picker {
	margin: 0 auto;

	.pg-styleguide-color-picker-container {
		margin: 0 auto;
		width: 80%;
		max-width: $pg-sp*80
	}
}



/*----------lobby button styleguide styling--------------*/

@mixin button-format($color) {
	background-color: $color;
	padding: $styleguide-padding-top $styleguide-padding-side;
}

.pg-styleguide-icon-buttons {
	@include button-format($pg-color-pirate);
}

.pg-styleguide-solid-buttons {
	@include button-format($pg-color-white);
}

.pg-styleguide-hollow-button-color {
	@include button-format($pg-color-white);
}

.pg-styleguide-hollow-button-white {
	@include button-format($pg-color-pirate);
}




/*----------lobby forms styleguide styling--------------*/

.pg-styleguide-forms {
	padding: $styleguide-padding-top $styleguide-padding-side;
}

