@import '../base/variables';

@keyframes enterLeft {
    0% {
        transform: translateX(100%);
        -ms-transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
        -ms-transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }
}

@keyframes exitLeft {
    0% {
        transform: translateX(0%);
        -ms-transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}

@keyframes enterRight {
    0% {
        transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
        -ms-transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }
}

@keyframes exitRight {
    0% {
        transform: translateX(0%);
        -ms-transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
        -ms-transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }
}

@keyframes enterBanner {
    0% {
        transform: translateY(-200px);
        -ms-transform: translateY(-200px);
        -webkit-transform: translateY(-200px);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}

@keyframes exitBanner {
    0% {
        transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    100% {
        transform: translateY(-200px);
        -ms-transform: translateY(-200px);
        -webkit-transform: translateY(-200px);
        opacity: 0;
    }
}