@import '../base/variables';

@mixin game-lobby($color) {

	$margin: $pg-sp * 7;
	margin: 0 $margin;
	width: -webkit-calc((100% - (#{$margin}) * 2));
	width:    -moz-calc((100% - (#{$margin}) * 2));
	width:         calc((100% - (#{$margin}) * 2));

	@media (min-width: $pg-desk-break) {
		$content-size:		$pg-sp * 64;
		margin: 0 calc((100% - (#{$content-size})) / 2);
		width: $content-size;
	}

	max-width: 64 * $pg-sp;
	height: 100%;
	overflow: auto;
	position: absolute;

	img.game-icon.large {
		margin-top: $pg-sp * 13;
		margin-bottom: $pg-sp * 2;
	}

	h1.create-game {
		margin-top: $pg-sp * 5;
	}

	h1, h2, h3 {
		color: $color;
		text-align: center;
		margin-bottom: $pg-sp * 8;
	}

	h3.create-game {
		text-align: left;
	}

	h1.lobby, h2.lobby {
		color: $pg-color-white;
	}

	button.pg-lobby-icon-button, button.pg-lobby-hollow-button, button.pg-lobby-solid-button {
		margin-bottom: $pg-sp * 3;
		cursor: pointer;
	}

	h1.create-game {
		color: $color;
		text-align: center;
		margin-bottom: 32px;
	}

	:last-child {
		margin-bottom: $pg-sp * 7 !important;
	}
}

.game-lobby-pirate {
	@include game-lobby($pg-color-pirate);
}

.game-lobby-fibbage {
	@include game-lobby($pg-color-fibbage);
}

.game-lobby-mafia {
	@include game-lobby($pg-color-mafia);
}



@mixin lobby-banner($color) {
	padding: $pg-sp * 2 0;
	background: $color;
}

div.lobby-banner-pirate {
	@include lobby-banner($pg-color-pirate);
}

div.lobby-banner-fibbage {
	@include lobby-banner($pg-color-fibbage);
}

div.lobby-banner-mafia {
	@include lobby-banner($pg-color-mafia);
}