@import '../base/variables';

$pg-icon-separation:  64px;

@mixin game-choice($color) {

  div.game-icon-container:first-child {
    margin: $pg-icon-separation auto;
  }

  div.game-icon-container {
    margin: 0 auto $pg-icon-separation;
  }

  div.game-icon-container div.center-span {
    text-align: center;
    margin: 8px 0;
    color: $color;
  }

  div.game-icon-container span {
    display: inline-block;
    text-align: center;
    cursor: pointer;
  }

}

.game-choice-fibbage {
  @include game-choice($pg-color-fibbage);
}

.game-choice-pirate {
  @include game-choice($pg-color-pirate);
}

.game-choice-mafia {
  @include game-choice($pg-color-mafia);
}