@import '../base/variables';

@mixin game-lobby($color) {
	height: 100%;
	width: 100%;
	position: absolute;
	margin: 0 $pg-sp * 8;

	div.container {
		margin: 10%;
	}

	div.banner {
		padding: $pg-sp * 2 0;
		background: $color;
	}

	h1.create-game {
		color: $color;
		text-align: center;
		margin-bottom: 32px;
	}
}

.game-lobby-pirate {
	@include game-lobby($pg-color-pirate);
}

.game-lobby-fibbage {
	@include game-lobby($pg-color-fibbage);
}

.game-lobby-mafia {
	@include game-lobby($pg-color-mafia);
}