// Dimensions
$pg-sp: 6px;

// Color Scheme
$pg-color-white:          #ffffff;

$pg-color-pirate:         #003366;
$pg-color-fibbage:        #F5A623;
$pg-color-mafia:          #D0021B;

$pg-color-dark-gray:      #2a2a2a;
$pg-color-medium-gray:    #888888;
$pg-color-light-gray:     #dbdbdb;

$pg-color-black:          #000000;

$pg-color-green:          #417505;

// Typeface
$pg-body-font:   'Lato-Regular', sans-serif; 
$pg-header-font: 'Lato-Bold', sans-serif;  

//Breakpoint
$pg-desk-break: 450px;

// Font Sizes
$pg-desk-size-large:  40px;
$pg-desk-size-medium: 32px;
$pg-desk-size-small:  24px;

$pg-mobile-size-large:  34px;
$pg-mobile-size-medium: 24px;
$pg-mobile-size-small:  20px;