html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  color: #2a2a2a;
  font-size: 20px;
  font-family: "Lato-Regular", serif;
  line-height: 140%; }
  @media (min-width: 360px) {
    body {
      font-size: 24px; } }

h1 {
  font-size: 34px;
  line-height: 120%; }
  @media (min-width: 360px) {
    h1 {
      font-size: 40px; } }

h2 {
  font-size: 28px; }
  @media (min-width: 360px) {
    h2 {
      font-size: 32px; } }

a {
  color: inherit;
  text-decoration: none; }

body {
  color: #2a2a2a;
  font-size: 20px;
  font-family: "Lato-Regular", serif;
  line-height: 140%; }
  @media (min-width: 360px) {
    body {
      font-size: 24px; } }

h1 {
  font-size: 34px;
  line-height: 120%; }
  @media (min-width: 360px) {
    h1 {
      font-size: 40px; } }

h2 {
  font-size: 28px; }
  @media (min-width: 360px) {
    h2 {
      font-size: 32px; } }

a {
  color: inherit;
  text-decoration: none; }

img.game-icon {
  display: block;
  cursor: pointer;
  margin: 0 auto; }

img.small {
  width: 128px; }

img.medium {
  width: 264px; }

img.large {
  width: 400px; }

body {
  color: #2a2a2a;
  font-size: 20px;
  font-family: "Lato-Regular", serif;
  line-height: 140%; }
  @media (min-width: 360px) {
    body {
      font-size: 24px; } }

h1 {
  font-size: 34px;
  line-height: 120%; }
  @media (min-width: 360px) {
    h1 {
      font-size: 40px; } }

h2 {
  font-size: 28px; }
  @media (min-width: 360px) {
    h2 {
      font-size: 32px; } }

a {
  color: inherit;
  text-decoration: none; }

body {
  color: #2a2a2a;
  font-size: 20px;
  font-family: "Lato-Regular", serif;
  line-height: 140%; }
  @media (min-width: 360px) {
    body {
      font-size: 24px; } }

h1 {
  font-size: 34px;
  line-height: 120%; }
  @media (min-width: 360px) {
    h1 {
      font-size: 40px; } }

h2 {
  font-size: 28px; }
  @media (min-width: 360px) {
    h2 {
      font-size: 32px; } }

a {
  color: inherit;
  text-decoration: none; }

.pg-content {
  margin: 24px; }

div.game-choice:first-child {
  margin: 64px auto; }

.game-choice {
  text-align: center;
  margin: 0 auto 64px; }

.game-choice.fibbage div.game-logo {
  display: inline-block;
  text-align: center; }
.game-choice.fibbage div.game-logo h1 span {
  color: #F5A623; }

.game-choice.pirate div.game-logo {
  display: inline-block;
  text-align: center; }
.game-choice.pirate div.game-logo h1 span {
  color: #003366; }

.game-choice.mafia div.game-logo {
  display: inline-block;
  text-align: center; }
.game-choice.mafia div.game-logo h1 span {
  color: #D0021B; }

.game-lobby-pirate {
  height: 100%;
  width: 100%;
  position: absolute; }
  .game-lobby-pirate div.container {
    margin: 10%; }
  .game-lobby-pirate div.banner {
    padding: 32px 0;
    background: #003366; }
  .game-lobby-pirate h1.create-game {
    color: #003366;
    text-align: center;
    margin-bottom: 32px; }

.game-lobby-fibbage {
  height: 100%;
  width: 100%;
  position: absolute; }
  .game-lobby-fibbage div.container {
    margin: 10%; }
  .game-lobby-fibbage div.banner {
    padding: 32px 0;
    background: #F5A623; }
  .game-lobby-fibbage h1.create-game {
    color: #F5A623;
    text-align: center;
    margin-bottom: 32px; }

.game-lobby-mafia {
  height: 100%;
  width: 100%;
  position: absolute; }
  .game-lobby-mafia div.container {
    margin: 10%; }
  .game-lobby-mafia div.banner {
    padding: 32px 0;
    background: #D0021B; }
  .game-lobby-mafia h1.create-game {
    color: #D0021B;
    text-align: center;
    margin-bottom: 32px; }

/*# sourceMappingURL=main.css.map */
