html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  color: #2a2a2a;
  font-size: 20px;
  font-family: "Lato-Regular", sans-serif;
  line-height: 140%; }
  @media (min-width: 450px) {
    body {
      font-size: 24px; } }

h1 {
  font-size: 34px;
  line-height: 120%; }
  @media (min-width: 450px) {
    h1 {
      font-size: 40px; } }

h2 {
  font-size: 24px; }
  @media (min-width: 450px) {
    h2 {
      font-size: 32px; } }

a {
  color: inherit;
  text-decoration: none; }

.pg-styleguide-header {
  margin: 18px;
  text-align: center;
  font-weight: bold; }

.pg-styleguide-subhead {
  text-align: center;
  color: #2a2a2a;
  margin-top: 48px;
  margin-bottom: 6px; }

/*----------lobby button styleguide styling--------------*/
.pg-styleguide-icon-buttons {
  background-color: #003366;
  padding: 12px 30px; }

.pg-styleguide-solid-buttons {
  background-color: #ffffff;
  padding: 12px 30px; }

.pg-styleguide-hollow-button-color {
  background-color: #ffffff;
  padding: 12px 30px; }

.pg-styleguide-hollow-button-white {
  background-color: #003366;
  padding: 12px 30px; }

/*----------lobby forms styleguide styling--------------*/
.pg-styleguide-forms {
  padding: 12px 30px; }

body {
  color: #2a2a2a;
  font-size: 20px;
  font-family: "Lato-Regular", sans-serif;
  line-height: 140%; }
  @media (min-width: 450px) {
    body {
      font-size: 24px; } }

h1 {
  font-size: 34px;
  line-height: 120%; }
  @media (min-width: 450px) {
    h1 {
      font-size: 40px; } }

h2 {
  font-size: 24px; }
  @media (min-width: 450px) {
    h2 {
      font-size: 32px; } }

a {
  color: inherit;
  text-decoration: none; }

button:focus {
  outline: 0; }

/*-------------lobby solid buttons-----------------*/
.pg-lobby-solid-button.pirate {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 9px;
  border: none;
  border-radius: 6px;
  font-size: 24px;
  position: relative;
  margin: auto;
  overflow: hidden;
  background-color: #003366;
  color: #ffffff; }
  .pg-lobby-solid-button.pirate .pg-lobby-button-splash {
    border-radius: 50%;
    width: 0%;
    height: 0%;
    background-color: rgba(220, 220, 220, 0.8);
    position: absolute;
    z-index: 0;
    left: 45%;
    top: 0;
    animation: splash .25s; }

.pg-lobby-solid-button.fibbage {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 9px;
  border: none;
  border-radius: 6px;
  font-size: 24px;
  position: relative;
  margin: auto;
  overflow: hidden;
  background-color: #F5A623;
  color: #ffffff; }
  .pg-lobby-solid-button.fibbage .pg-lobby-button-splash {
    border-radius: 50%;
    width: 0%;
    height: 0%;
    background-color: rgba(220, 220, 220, 0.8);
    position: absolute;
    z-index: 0;
    left: 45%;
    top: 0;
    animation: splash .25s; }

.pg-lobby-solid-button.mafia {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 9px;
  border: none;
  border-radius: 6px;
  font-size: 24px;
  position: relative;
  margin: auto;
  overflow: hidden;
  background-color: #D0021B;
  color: #ffffff; }
  .pg-lobby-solid-button.mafia .pg-lobby-button-splash {
    border-radius: 50%;
    width: 0%;
    height: 0%;
    background-color: rgba(220, 220, 220, 0.8);
    position: absolute;
    z-index: 0;
    left: 45%;
    top: 0;
    animation: splash .25s; }

/*-------------lobby logo buttons-----------------*/
.pg-lobby-icon-button.pirate {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 9px;
  border: none;
  border-radius: 6px;
  font-size: 24px;
  position: relative;
  margin: auto;
  overflow: hidden;
  background-color: #ffffff;
  color: #003366;
  font-weight: bold; }
  .pg-lobby-icon-button.pirate .pg-lobby-button-splash {
    border-radius: 50%;
    width: 0%;
    height: 0%;
    background-color: rgba(220, 220, 220, 0.8);
    position: absolute;
    z-index: 0;
    left: 45%;
    top: 0;
    animation: splash .25s; }
  .pg-lobby-icon-button.pirate .pg-lobby-icon-button-icon-container {
    top: 0;
    float: left;
    background-color: #003366;
    border-radius: 50%;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 5%;
    top: 9.6px; }
    .pg-lobby-icon-button.pirate .pg-lobby-icon-button-icon-container .pg-lobby-icon-button-icon {
      position: absolute;
      width: 14.4px;
      height: 14.4px;
      left: 4.8px;
      top: 4.8px; }

.pg-lobby-icon-button.fibbage {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 9px;
  border: none;
  border-radius: 6px;
  font-size: 24px;
  position: relative;
  margin: auto;
  overflow: hidden;
  background-color: #ffffff;
  color: #F5A623;
  font-weight: bold; }
  .pg-lobby-icon-button.fibbage .pg-lobby-button-splash {
    border-radius: 50%;
    width: 0%;
    height: 0%;
    background-color: rgba(220, 220, 220, 0.8);
    position: absolute;
    z-index: 0;
    left: 45%;
    top: 0;
    animation: splash .25s; }
  .pg-lobby-icon-button.fibbage .pg-lobby-icon-button-icon-container {
    top: 0;
    float: left;
    background-color: #F5A623;
    border-radius: 50%;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 5%;
    top: 9.6px; }
    .pg-lobby-icon-button.fibbage .pg-lobby-icon-button-icon-container .pg-lobby-icon-button-icon {
      position: absolute;
      width: 14.4px;
      height: 14.4px;
      left: 4.8px;
      top: 4.8px; }

.pg-lobby-icon-button.mafia {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 9px;
  border: none;
  border-radius: 6px;
  font-size: 24px;
  position: relative;
  margin: auto;
  overflow: hidden;
  background-color: #ffffff;
  color: #D0021B;
  font-weight: bold; }
  .pg-lobby-icon-button.mafia .pg-lobby-button-splash {
    border-radius: 50%;
    width: 0%;
    height: 0%;
    background-color: rgba(220, 220, 220, 0.8);
    position: absolute;
    z-index: 0;
    left: 45%;
    top: 0;
    animation: splash .25s; }
  .pg-lobby-icon-button.mafia .pg-lobby-icon-button-icon-container {
    top: 0;
    float: left;
    background-color: #D0021B;
    border-radius: 50%;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 5%;
    top: 9.6px; }
    .pg-lobby-icon-button.mafia .pg-lobby-icon-button-icon-container .pg-lobby-icon-button-icon {
      position: absolute;
      width: 14.4px;
      height: 14.4px;
      left: 4.8px;
      top: 4.8px; }

/*-------------lobby hollow buttons-----------------*/
.pg-lobby-hollow-button.white {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 9px;
  border: none;
  border-radius: 6px;
  font-size: 24px;
  position: relative;
  margin: auto;
  overflow: hidden;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff; }
  .pg-lobby-hollow-button.white .pg-lobby-button-splash {
    border-radius: 50%;
    width: 0%;
    height: 0%;
    background-color: rgba(220, 220, 220, 0.8);
    position: absolute;
    z-index: 0;
    left: 45%;
    top: 0;
    animation: splash .25s; }

.pg-lobby-hollow-button.pirate:not(.white) {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 9px;
  border: none;
  border-radius: 6px;
  font-size: 24px;
  position: relative;
  margin: auto;
  overflow: hidden;
  background-color: transparent;
  border: 1px solid #003366;
  color: #003366; }
  .pg-lobby-hollow-button.pirate:not(.white) .pg-lobby-button-splash {
    border-radius: 50%;
    width: 0%;
    height: 0%;
    background-color: rgba(220, 220, 220, 0.8);
    position: absolute;
    z-index: 0;
    left: 45%;
    top: 0;
    animation: splash .25s; }

.pg-lobby-hollow-button.fibbage:not(.white) {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 9px;
  border: none;
  border-radius: 6px;
  font-size: 24px;
  position: relative;
  margin: auto;
  overflow: hidden;
  background-color: transparent;
  border: 1px solid #F5A623;
  color: #F5A623; }
  .pg-lobby-hollow-button.fibbage:not(.white) .pg-lobby-button-splash {
    border-radius: 50%;
    width: 0%;
    height: 0%;
    background-color: rgba(220, 220, 220, 0.8);
    position: absolute;
    z-index: 0;
    left: 45%;
    top: 0;
    animation: splash .25s; }

.pg-lobby-hollow-button.mafia:not(.white) {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 9px;
  border: none;
  border-radius: 6px;
  font-size: 24px;
  position: relative;
  margin: auto;
  overflow: hidden;
  background-color: transparent;
  border: 1px solid #D0021B;
  color: #D0021B; }
  .pg-lobby-hollow-button.mafia:not(.white) .pg-lobby-button-splash {
    border-radius: 50%;
    width: 0%;
    height: 0%;
    background-color: rgba(220, 220, 220, 0.8);
    position: absolute;
    z-index: 0;
    left: 45%;
    top: 0;
    animation: splash .25s; }

@keyframes splash {
  0% {
    width: 0%;
    height: 0%;
    left: 50%; }
  100% {
    width: 200%;
    height: 200%;
    left: -50%;
    top: -50%;
    animation-timing-function: ease-out; } }
img.game-icon {
  display: block;
  margin: 0 auto; }

img.small {
  width: 54px; }
  @media (min-width: 450px) {
    img.small {
      width: 66px; } }

img.large {
  width: 204px; }
  @media (min-width: 450px) {
    img.large {
      width: 252px; } }

.pg-lobby-form-pirate .pg-lobby-form-persistent-instructions {
  font-size: 13.33333px;
  color: #888888;
  height: 24px;
  visibility: hidden; }
.pg-lobby-form-pirate .pg-lobby-form-persistent-instructions-fade-in {
  animation: fadeIn .25s;
  opacity: 1; }
.pg-lobby-form-pirate .pg-lobby-form-persistent-instructions-fade-out {
  animation: fadeOut .25s;
  opacity: 0; }
.pg-lobby-form-pirate .pg-lobby-form-input {
  border: none;
  border-bottom: 3px solid #003366;
  width: 100%;
  font-size: 24px;
  color: #003366;
  padding-bottom: 6px;
  padding-top: 0; }
  .pg-lobby-form-pirate .pg-lobby-form-input:focus {
    outline: 0; }
.pg-lobby-form-pirate .pg-lobby-form-input-gray {
  color: #888888; }

.pg-lobby-form-fibbage .pg-lobby-form-persistent-instructions {
  font-size: 13.33333px;
  color: #888888;
  height: 24px;
  visibility: hidden; }
.pg-lobby-form-fibbage .pg-lobby-form-persistent-instructions-fade-in {
  animation: fadeIn .25s;
  opacity: 1; }
.pg-lobby-form-fibbage .pg-lobby-form-persistent-instructions-fade-out {
  animation: fadeOut .25s;
  opacity: 0; }
.pg-lobby-form-fibbage .pg-lobby-form-input {
  border: none;
  border-bottom: 3px solid #F5A623;
  width: 100%;
  font-size: 24px;
  color: #F5A623;
  padding-bottom: 6px;
  padding-top: 0; }
  .pg-lobby-form-fibbage .pg-lobby-form-input:focus {
    outline: 0; }
.pg-lobby-form-fibbage .pg-lobby-form-input-gray {
  color: #888888; }

.pg-lobby-form-mafia .pg-lobby-form-persistent-instructions {
  font-size: 13.33333px;
  color: #888888;
  height: 24px;
  visibility: hidden; }
.pg-lobby-form-mafia .pg-lobby-form-persistent-instructions-fade-in {
  animation: fadeIn .25s;
  opacity: 1; }
.pg-lobby-form-mafia .pg-lobby-form-persistent-instructions-fade-out {
  animation: fadeOut .25s;
  opacity: 0; }
.pg-lobby-form-mafia .pg-lobby-form-input {
  border: none;
  border-bottom: 3px solid #D0021B;
  width: 100%;
  font-size: 24px;
  color: #D0021B;
  padding-bottom: 6px;
  padding-top: 0; }
  .pg-lobby-form-mafia .pg-lobby-form-input:focus {
    outline: 0; }
.pg-lobby-form-mafia .pg-lobby-form-input-gray {
  color: #888888; }

@keyframes fadeIn {
  0% {
    transform: translate3d(0px, 10px, 0px);
    opacity: 0; }
  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
    opacity: 1; } }
@keyframes fadeOut {
  0% {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1; }
  100% {
    transform: translate3d(0px, 10px, 0px);
    animation-timing-function: ease-out;
    opacity: 0; } }
div.pg-pirate-background-color {
  background-color: #003366;
  height: inherit; }

div.pg-fibbage-background-color {
  background-color: #F5A623;
  height: inherit; }

div.pg-mafia-background-color {
  background-color: #D0021B;
  height: inherit; }

body {
  color: #2a2a2a;
  font-size: 20px;
  font-family: "Lato-Regular", sans-serif;
  line-height: 140%; }
  @media (min-width: 450px) {
    body {
      font-size: 24px; } }

h1 {
  font-size: 34px;
  line-height: 120%; }
  @media (min-width: 450px) {
    h1 {
      font-size: 40px; } }

h2 {
  font-size: 24px; }
  @media (min-width: 450px) {
    h2 {
      font-size: 32px; } }

a {
  color: inherit;
  text-decoration: none; }

body {
  color: #2a2a2a;
  font-size: 20px;
  font-family: "Lato-Regular", sans-serif;
  line-height: 140%; }
  @media (min-width: 450px) {
    body {
      font-size: 24px; } }

h1 {
  font-size: 34px;
  line-height: 120%; }
  @media (min-width: 450px) {
    h1 {
      font-size: 40px; } }

h2 {
  font-size: 24px; }
  @media (min-width: 450px) {
    h2 {
      font-size: 32px; } }

a {
  color: inherit;
  text-decoration: none; }

.pg-content {
  margin: 24px; }

html, body, div#pg-app {
  height: 100%;
  min-width: 290px; }

div.game-choice:first-child {
  margin: 66px auto; }

.game-choice {
  text-align: center;
  margin: 0 auto 66px; }

.game-choice.fibbage div.game-logo {
  display: inline-block;
  text-align: center;
  cursor: pointer; }
.game-choice.fibbage div.game-logo img {
  margin-bottom: 12px; }
.game-choice.fibbage div.game-logo h1 span {
  color: #F5A623; }

.game-choice.pirate div.game-logo {
  display: inline-block;
  text-align: center;
  cursor: pointer; }
.game-choice.pirate div.game-logo img {
  margin-bottom: 12px; }
.game-choice.pirate div.game-logo h1 span {
  color: #003366; }

.game-choice.mafia div.game-logo {
  display: inline-block;
  text-align: center;
  cursor: pointer; }
.game-choice.mafia div.game-logo img {
  margin-bottom: 12px; }
.game-choice.mafia div.game-logo h1 span {
  color: #D0021B; }

.game-lobby-pirate {
  margin: 0 42px;
  width: -webkit-calc((100% - (42px) * 2));
  width: -moz-calc((100% - (42px) * 2));
  width: calc((100% - (42px) * 2));
  max-width: 384px;
  height: 100%;
  overflow: auto;
  position: absolute; }
  @media (min-width: 450px) {
    .game-lobby-pirate {
      margin: 0 calc((100% - (384px)) / 2);
      width: 384px; } }
  .game-lobby-pirate img.game-icon.large {
    margin-top: 78px;
    margin-bottom: 12px; }
  .game-lobby-pirate h1.create-game {
    margin-top: 30px; }
  .game-lobby-pirate h1, .game-lobby-pirate h2, .game-lobby-pirate h3 {
    color: #003366;
    text-align: center;
    margin-bottom: 48px; }
  .game-lobby-pirate h3.create-game {
    text-align: left;
    margin-bottom: 6px; }
  .game-lobby-pirate h1.lobby, .game-lobby-pirate h2.lobby {
    color: #ffffff; }
  .game-lobby-pirate h1.success {
    margin-top: 84px;
    color: #417505; }
  .game-lobby-pirate h3.success, .game-lobby-pirate h1.game-code {
    color: #000000; }
  .game-lobby-pirate .pg-lobby-form-pirate, .game-lobby-pirate .pg-lobby-form-fibbage, .game-lobby-pirate .pg-lobby-form-mafia {
    margin-bottom: 42px; }
  .game-lobby-pirate button.pg-lobby-icon-button, .game-lobby-pirate button.pg-lobby-hollow-button, .game-lobby-pirate button.pg-lobby-solid-button {
    margin-bottom: 18px;
    cursor: pointer; }
  .game-lobby-pirate h1.create-game {
    color: #003366;
    text-align: center;
    margin-bottom: 32px; }
  .game-lobby-pirate :last-child {
    margin-bottom: 42px !important; }

.game-lobby-fibbage {
  margin: 0 42px;
  width: -webkit-calc((100% - (42px) * 2));
  width: -moz-calc((100% - (42px) * 2));
  width: calc((100% - (42px) * 2));
  max-width: 384px;
  height: 100%;
  overflow: auto;
  position: absolute; }
  @media (min-width: 450px) {
    .game-lobby-fibbage {
      margin: 0 calc((100% - (384px)) / 2);
      width: 384px; } }
  .game-lobby-fibbage img.game-icon.large {
    margin-top: 78px;
    margin-bottom: 12px; }
  .game-lobby-fibbage h1.create-game {
    margin-top: 30px; }
  .game-lobby-fibbage h1, .game-lobby-fibbage h2, .game-lobby-fibbage h3 {
    color: #F5A623;
    text-align: center;
    margin-bottom: 48px; }
  .game-lobby-fibbage h3.create-game {
    text-align: left;
    margin-bottom: 6px; }
  .game-lobby-fibbage h1.lobby, .game-lobby-fibbage h2.lobby {
    color: #ffffff; }
  .game-lobby-fibbage h1.success {
    margin-top: 84px;
    color: #417505; }
  .game-lobby-fibbage h3.success, .game-lobby-fibbage h1.game-code {
    color: #000000; }
  .game-lobby-fibbage .pg-lobby-form-pirate, .game-lobby-fibbage .pg-lobby-form-fibbage, .game-lobby-fibbage .pg-lobby-form-mafia {
    margin-bottom: 42px; }
  .game-lobby-fibbage button.pg-lobby-icon-button, .game-lobby-fibbage button.pg-lobby-hollow-button, .game-lobby-fibbage button.pg-lobby-solid-button {
    margin-bottom: 18px;
    cursor: pointer; }
  .game-lobby-fibbage h1.create-game {
    color: #F5A623;
    text-align: center;
    margin-bottom: 32px; }
  .game-lobby-fibbage :last-child {
    margin-bottom: 42px !important; }

.game-lobby-mafia {
  margin: 0 42px;
  width: -webkit-calc((100% - (42px) * 2));
  width: -moz-calc((100% - (42px) * 2));
  width: calc((100% - (42px) * 2));
  max-width: 384px;
  height: 100%;
  overflow: auto;
  position: absolute; }
  @media (min-width: 450px) {
    .game-lobby-mafia {
      margin: 0 calc((100% - (384px)) / 2);
      width: 384px; } }
  .game-lobby-mafia img.game-icon.large {
    margin-top: 78px;
    margin-bottom: 12px; }
  .game-lobby-mafia h1.create-game {
    margin-top: 30px; }
  .game-lobby-mafia h1, .game-lobby-mafia h2, .game-lobby-mafia h3 {
    color: #D0021B;
    text-align: center;
    margin-bottom: 48px; }
  .game-lobby-mafia h3.create-game {
    text-align: left;
    margin-bottom: 6px; }
  .game-lobby-mafia h1.lobby, .game-lobby-mafia h2.lobby {
    color: #ffffff; }
  .game-lobby-mafia h1.success {
    margin-top: 84px;
    color: #417505; }
  .game-lobby-mafia h3.success, .game-lobby-mafia h1.game-code {
    color: #000000; }
  .game-lobby-mafia .pg-lobby-form-pirate, .game-lobby-mafia .pg-lobby-form-fibbage, .game-lobby-mafia .pg-lobby-form-mafia {
    margin-bottom: 42px; }
  .game-lobby-mafia button.pg-lobby-icon-button, .game-lobby-mafia button.pg-lobby-hollow-button, .game-lobby-mafia button.pg-lobby-solid-button {
    margin-bottom: 18px;
    cursor: pointer; }
  .game-lobby-mafia h1.create-game {
    color: #D0021B;
    text-align: center;
    margin-bottom: 32px; }
  .game-lobby-mafia :last-child {
    margin-bottom: 42px !important; }

div.lobby-banner-pirate {
  padding: 12px 0;
  background: #003366; }

div.lobby-banner-fibbage {
  padding: 12px 0;
  background: #F5A623; }

div.lobby-banner-mafia {
  padding: 12px 0;
  background: #D0021B; }

/*# sourceMappingURL=main.css.map */
