html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  color: #2a2a2a;
  font-size: 14px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.4; }
  @media (min-width: 360px) {
    body {
      font-size: 18px; } }

h1 {
  font-size: 20px;
  line-height: 1.2; }
  @media (min-width: 360px) {
    h1 {
      font-size: 40px; } }

h2 {
  font-size: 16px; }
  @media (min-width: 360px) {
    h2 {
      font-size: 24px; } }

a {
  color: inherit;
  text-decoration: none; }

body {
  color: #2a2a2a;
  font-size: 14px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.4; }
  @media (min-width: 360px) {
    body {
      font-size: 18px; } }

h1 {
  font-size: 20px;
  line-height: 1.2; }
  @media (min-width: 360px) {
    h1 {
      font-size: 40px; } }

h2 {
  font-size: 16px; }
  @media (min-width: 360px) {
    h2 {
      font-size: 24px; } }

a {
  color: inherit;
  text-decoration: none; }

div.game-icon-container:first-child {
  margin: 64px 64px 64px 64px; }

div.game-icon-container {
  margin: 0 64px 64px 64px; }

div.game-icon-container img {
  display: block;
  margin: 0 auto;
  cursor: pointer; }

div.game-icon-container div.center-span {
  text-align: center;
  margin: 8px 0; }

div.game-icon-container span {
  display: inline-block;
  text-align: center;
  cursor: pointer; }

.color-fibbage {
  color: #F5A623; }

.color-pirate {
  color: #003366; }

.color-mafia {
  color: #D0021B; }

body {
  color: #2a2a2a;
  font-size: 14px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.4; }
  @media (min-width: 360px) {
    body {
      font-size: 18px; } }

h1 {
  font-size: 20px;
  line-height: 1.2; }
  @media (min-width: 360px) {
    h1 {
      font-size: 40px; } }

h2 {
  font-size: 16px; }
  @media (min-width: 360px) {
    h2 {
      font-size: 24px; } }

a {
  color: inherit;
  text-decoration: none; }

body {
  color: #2a2a2a;
  font-size: 14px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.4; }
  @media (min-width: 360px) {
    body {
      font-size: 18px; } }

h1 {
  font-size: 20px;
  line-height: 1.2; }
  @media (min-width: 360px) {
    h1 {
      font-size: 40px; } }

h2 {
  font-size: 16px; }
  @media (min-width: 360px) {
    h2 {
      font-size: 24px; } }

a {
  color: inherit;
  text-decoration: none; }

.pg-content {
  margin: 48px; }

/*# sourceMappingURL=main.css.map */
