@import '../base/variables';

button:focus {
	outline:0;
}


@mixin pg-lobby-button() {
	width: 100%;
	padding-top: $pg-sp;
	padding-bottom: $pg-sp*1.5;
	border: none;
	border-radius: $pg-sp;

	font-size: $pg-mobile-size-medium;
	@media (min-width: $pg-desk-break) { 
		font-size: $pg-desk-size-medium;	
	}
	
	position: relative;
	margin: auto;
	overflow: hidden;

}


/*-------------lobby solid buttons-----------------*/

@mixin pg-lobby-solid-button($color) {
	@include pg-lobby-button();
	background-color: $color;
	color: $pg-color-white;

	&:hover {
		background-color: darken($color, 5%);
	}

	&:active {
		background-color: darken($color, 10%);
	}
}

.pg-lobby-solid-button.pirate {
	@include pg-lobby-solid-button($pg-color-pirate);
}

.pg-lobby-solid-button.fibbage {
	@include pg-lobby-solid-button($pg-color-fibbage);
}

.pg-lobby-solid-button.mafia {
	@include pg-lobby-solid-button($pg-color-mafia);
}



/*-------------lobby logo buttons-----------------*/

@mixin pg-lobby-icon-button($color) {
	@include pg-lobby-button();
	background-color: $pg-color-white;
	color: $color;
	font-weight: bold;

	&:hover {
		background-color: darken($pg-color-white, 10%);
	}

	&:active {
		background-color: darken($pg-color-white, 20%);
	}

	.pg-lobby-icon-button-icon-container {
		top: 0;
		float: left;
		background-color: $color;
		border-radius: 50%;
		position: absolute;
		width: $pg-sp*4;
		height: $pg-sp*4;
		left: 5%;
		top: $pg-sp*1.6;

		.pg-lobby-icon-button-icon {
			position: absolute;
			width: $pg-sp*2.4;
			height: $pg-sp*2.4;
			left: $pg-sp*.8;
			top: $pg-sp*.8;
		}
	}
}

.pg-lobby-icon-button.pirate {
	@include pg-lobby-icon-button($pg-color-pirate);
}

.pg-lobby-icon-button.fibbage {
	@include pg-lobby-icon-button($pg-color-fibbage);
}

.pg-lobby-icon-button.mafia {
	@include pg-lobby-icon-button($pg-color-mafia);
}



/*-------------lobby hollow buttons-----------------*/

@mixin pg-lobby-hollow-button($color) {
	@include pg-lobby-button();
	background-color: transparent;
	border: 1px solid $color;
	color: $color;

	&:hover {
		background-color: rgba(100,100,100,0.1);
	}

	&:active {
		background-color: rgba(100,100,100,0.3);
	}
}

.pg-lobby-hollow-button.white {
	@include pg-lobby-hollow-button($pg-color-white)
}

.pg-lobby-hollow-button.pirate:not(.white) {
	@include pg-lobby-hollow-button($pg-color-pirate)
}

.pg-lobby-hollow-button.fibbage:not(.white) {
	@include pg-lobby-hollow-button($pg-color-fibbage)
}

.pg-lobby-hollow-button.mafia:not(.white) {
	@include pg-lobby-hollow-button($pg-color-mafia)
}



/*-------------color picker buttons-----------------*/
@mixin pg-lobby-color-picker-button($color) {
	float: left;
	position: relative;
	margin: $pg-sp*2;
	@media (min-width: $pg-desk-break) { 
		margin: $pg-sp*3;	
	}
	overflow: hidden;

	background-color: transparent;

	border: $pg-sp solid $color;
	border-radius: 50%;

	width: $pg-sp*5;
	height: $pg-sp*5;
}

.pg-lobby-color-picker-button-color1 {
	@include pg-lobby-color-picker-button($pg-color-player-val1);
}

.pg-lobby-color-picker-button-color2 {
	@include pg-lobby-color-picker-button($pg-color-player-val2);
}

.pg-lobby-color-picker-button-color2 {
	@include pg-lobby-color-picker-button($pg-color-player-val2);
}

.pg-lobby-color-picker-button-color3 {
	@include pg-lobby-color-picker-button($pg-color-player-val3);
}

.pg-lobby-color-picker-button-color4 {
	@include pg-lobby-color-picker-button($pg-color-player-val4);
}

.pg-lobby-color-picker-button-color5 {
	@include pg-lobby-color-picker-button($pg-color-player-val5);
}

.pg-lobby-color-picker-button-color6 {
	@include pg-lobby-color-picker-button($pg-color-player-val6);
}

.pg-lobby-color-picker-button-color7 {
	@include pg-lobby-color-picker-button($pg-color-player-val7);
}

.pg-lobby-color-picker-button-color8 {
	@include pg-lobby-color-picker-button($pg-color-player-val8);
}

.pg-lobby-color-picker-button-color9 {
	@include pg-lobby-color-picker-button($pg-color-player-val9);
}

.pg-lobby-color-picker-button-color10 {
	@include pg-lobby-color-picker-button($pg-color-player-val10);
}

.pg-lobby-color-picker-button-color11 {
	@include pg-lobby-color-picker-button($pg-color-player-val11);
}

.pg-lobby-color-picker-button-color12 {
	@include pg-lobby-color-picker-button($pg-color-player-val12);
}

/*--Selected--*/
@mixin pg-lobby-color-picker-button-selected($color) {
	@include pg-lobby-color-picker-button($color);
	background-color: $color;
}

.pg-lobby-color-picker-button-color1-selected {
	@include pg-lobby-color-picker-button-selected($pg-color-player-val1);
}

.pg-lobby-color-picker-button-color2-selected {
	@include pg-lobby-color-picker-button-selected($pg-color-player-val2);
}

.pg-lobby-color-picker-button-color2-selected {
	@include pg-lobby-color-picker-button-selected($pg-color-player-val2);
}

.pg-lobby-color-picker-button-color3-selected {
	@include pg-lobby-color-picker-button-selected($pg-color-player-val3);
}

.pg-lobby-color-picker-button-color4-selected {
	@include pg-lobby-color-picker-button-selected($pg-color-player-val4);
}

.pg-lobby-color-picker-button-color5-selected {
	@include pg-lobby-color-picker-button-selected($pg-color-player-val5);
}

.pg-lobby-color-picker-button-color6-selected {
	@include pg-lobby-color-picker-button-selected($pg-color-player-val6);
}

.pg-lobby-color-picker-button-color7-selected {
	@include pg-lobby-color-picker-button-selected($pg-color-player-val7);
}

.pg-lobby-color-picker-button-color8-selected {
	@include pg-lobby-color-picker-button-selected($pg-color-player-val8);
}

.pg-lobby-color-picker-button-color9-selected {
	@include pg-lobby-color-picker-button-selected($pg-color-player-val9);
}

.pg-lobby-color-picker-button-color10-selected {
	@include pg-lobby-color-picker-button-selected($pg-color-player-val10);
}

.pg-lobby-color-picker-button-color11-selected {
	@include pg-lobby-color-picker-button-selected($pg-color-player-val11);
}

.pg-lobby-color-picker-button-color12-selected {
	@include pg-lobby-color-picker-button-selected($pg-color-player-val12);
}