@import '../base/variables';

img.game-icon {
  display: block;
  cursor: pointer;
  margin: 0 auto;
}

img.small {
  //width: 64px;                                 // Desktop
  width: 128px;
}

img.medium {
  //width: 128px;                               // Desktop
  width: 264px;
}

img.large {
  //width: 256px;                               // Desktop
  width: 400px;
}