@import '../base/variables';

.pg-waiting-room-toggle {
	margin-bottom: 0px;
	.waiting-room-start-countdown-container {
		float: left;
		height: $pg-sp*6;
		visibility: hidden;
		width: 0%;
	}
	.waiting-room-start-button-container {
		float: left;
		width: 100%;
	}

	.button-slide-right {
		animation: buttonSlideRight .25s;
		width: 50%;
	}

	.button-slide-left {
		animation: buttonSlideLeft .25s;
		width: 100%;
	}

	.countdown-enter {
		animation: countdownEnter .25s;
		width: 50%;
		visibility: initial;
	}

	.countdown-leave {
		animation: countdownLeave .25s;
		width: 0%;
		visibility: hidden;
	}
}


// Player colors

table.pg-waiting-room-player-table {
	margin: 0 auto;
}

@mixin pg-waiting-room-player($color) {

	td {
		padding: $pg-sp;
	}

	td div, td h2 {
		vertical-align: middle;
	}

	td div.player-circle {
		width: $pg-sp * 2.5;
		height: $pg-sp * 2.5;
		border-radius: $pg-sp * 1.25;
		background-color: $color;
		margin-right: $pg-sp * 2;
	}

	td h2.player-name {
		text-align: left;
		color: $color;
		margin-bottom: 0;
		font-weight: 600;
	}
}

.pg-waiting-room-player.color1-button {
	@include pg-waiting-room-player($pg-color-player-val1);
}

.pg-waiting-room-player.color2-button {
	@include pg-waiting-room-player($pg-color-player-val2);
}

.pg-waiting-room-player.color3-button {
	@include pg-waiting-room-player($pg-color-player-val3);
}

.pg-waiting-room-player.color4-button {
	@include pg-waiting-room-player($pg-color-player-val4);
}

.pg-waiting-room-player.color5-button {
	@include pg-waiting-room-player($pg-color-player-val5);
}

.pg-waiting-room-player.color6-button {
	@include pg-waiting-room-player($pg-color-player-val6);
}

.pg-waiting-room-player.color7-button {
	@include pg-waiting-room-player($pg-color-player-val7);
}

.pg-waiting-room-player.color8-button {
	@include pg-waiting-room-player($pg-color-player-val8);
}

.pg-waiting-room-player.color9-button {
	@include pg-waiting-room-player($pg-color-player-val9);
}

.pg-waiting-room-player.color10-button {
	@include pg-waiting-room-player($pg-color-player-val10);
}

.pg-waiting-room-player.color11-button {
	@include pg-waiting-room-player($pg-color-player-val11);
}

.pg-waiting-room-player.color12-button {
	@include pg-waiting-room-player($pg-color-player-val12);
}




@keyframes countdownEnter {
	0% {
		width: 0%;
        opacity: 0;
    }
    100% {
    	width: 50%;
        opacity: 1;
    }
}

@keyframes countdownLeave {
	0% {
		width: 50%;
        opacity: 1;
    }
    100% {
    	width: 0%;
        opacity: 0;
    }
}

@keyframes buttonSlideRight {
	0% {
        width: 100%;
    }
    100% {
        width: 50%;
    }
}

@keyframes buttonSlideLeft {
	0% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}