@import '../base/variables';

img.game-icon {
  display: block;
  //cursor: pointer;
  margin: 0 auto;

  &:active {
    opacity: .8;
  }
}

img.small {
  height: $pg-sp * 9;

  @media (min-width: $pg-desk-break) {
    width: $pg-sp * 11;
  }
}

img.large {
  height: 20%;

  @media (min-width: $pg-desk-break) {
    width: $pg-sp * 30;
  }
}