@import '../base/variables';

.pi-cs-action-panel {
	padding: $pi-sp*2;
	margin-bottom: $pi-sp*20; /* Same as footer height */
}

.pi-cs-action-panel-bidding {
	background-color: $pi-cs-color-primary;
}