@import '../base/variables';

.pi-cs-action-panel {
	padding-top: $pi-sp*2;
	padding-bottom: 100%;
	padding-left: 10%;
	padding-right: 10%;
	width: 80%;
	position: fixed;
}

.pi-cs-action-panel-bidding {
	background-color: $pi-cs-color-primary;
}