@import '../base/variables';
@import '../layout/center';

.pi-cs-dice-bar-container {
	@include complete_center_children();
}

.pi-cs-dice-shelf {
	height: $pi-sp*2;
	width: 100%;
	background-color: $pi-color-dark-gray;
	box-shadow: 0px 3px 5px #888888;
	position: relative;
}

.dice_svg path {
	fill: $pi-cs-color-primary;
}

.dice_svg {
	margin: 0 $pi-sp;
}
