@import '../base/variables';
@import '../layout/center';

.pi-cs-header {

	.pi-cs-banner {
		width: 100%;
		height: $pi-sp*8;
		background-color: $pi-cs-color-primary;
		box-shadow: 0px 3px 5px #888888;
		@include complete_center_children();

		.pi-cs-skull {
			height: 80%;
		}
	}
	.pi-cs-header-sign-container {
		width: 100%;
		@include complete_center_children();

		.pi-cs-header-sign {
			width: $pi-sp * 24;
			position: relative;
			margin-bottom: $pi-sp*2;
		}

		.pi-cs-header-sign-text {
			left: 0;
		    position:absolute;
		    text-align:center;
		    top: $pi-sp * 12;
		    font-size: $pi-sp*4;
		    color: $pi-color-white;
		    width: 100%;
		}
	}
}