@(game: String, game_title: String, description: String, game_code:String, css_styles: Option[String], js: Option[String])

@header = {
@if(css_styles.isDefined) {
    <style>
    @css_styles.get
    </style>
}
@if(js.isDefined) {
    <script>
        @js.get
    </script>
}
}

@main(game_title)(Some(header)) {
    <div id="pg-app"></div>
    <script type="text/javascript">
        var game = "@game";
        var description = "@description";
        var title = "@game_title";
        var gameCode = "@game_code";
    </script>

    <script src="@routes.Assets.versioned("js/game.js")" type="text/javascript" ></script>
}