@(game: String, game_title: String, description: String, game_code:String, css_styles: Boolean, js: Boolean)

@header = {
    <link rel="stylesheet" type="text/css" href="@routes.IndexController.lobbyCss()">
@if(css_styles) {
    <link rel="stylesheet" type="text/css" href="@routes.GameController.getGameCss()">
}
}

@main(game_title)(Some(header)) {
    <div id="pg-app"></div>
    <script type="text/javascript">
        var game = "@game";
        var description = "@description";
        var title = "@game_title";
        var gameCode = "@game_code";
    </script>

    @if(js) {
        <script src="@routes.GameController.getGameJS()" type="text/javascript"></script>
    }
    <script src="@routes.IndexController.gameJs()" type="text/javascript"></script>
}