@(game: String, game_title: String, description: String, game_code:String, css_styles: Option[String], js: Boolean)

@header = {
    <script src="@routes.Assets.versioned("lib/react/react.js")" type="text/javascript" ></script>
    <script src="@routes.Assets.versioned("lib/react/react-dom.min.js")" type="text/javascript" ></script>
@if(css_styles.isDefined) {
    <style>
        @css_styles.get
    </style>
}
}

@main(game_title)(Some(header)) {
    <div id="pg-app"></div>
    <script type="text/javascript">
        var game = "@game";
        var description = "@description";
        var title = "@game_title";
        var gameCode = "@game_code";
    </script>

    @if(js) {
        <script src="@routes.GameController.getGameJS()" type="text/javascript"></script>
    }
    <script src="@routes.Assets.versioned("js/game.js")" type="text/javascript" ></script>

}