<!DOCTYPE html>

<html lang="en">
<head>
	<title>PGP Styleguide</title>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main.css")">
</head>
<body>
	<h1 class="pg-styleguide-header">
		PGP Styleguide
	</h1>
	<div class="pg-styleguide-buttons-container">
		
		<div class="pg-styleguide-subhead">lobby icon buttons</div>
		<!-- Icon Buttons are generated through the react component found in buttons.jsx
			 Usage can be found in app/assets/js/msc/styleguide.jsx -->
		<div id="pg-styleguide-icon-buttons" class="pg-styleguide-icon-buttons"></div>


		<div class="pg-styleguide-subhead">lobby solid buttons</div>
		<!--  For solid buttons, you can just style a normal button by applying the css
			  class (no react component necessary here -->
		<div class="pg-styleguide-solid-buttons">
			<button class="pg-lobby-solid-button-pirate">submit</button>
			<br/><br/>
			<button class="pg-lobby-solid-button-pirate">bitshift</button> 
		</div>


		<div class="pg-styleguide-subhead">lobby hollow buttons</div>
		<!--  For hollow buttons, you can just style a normal button by applying the css
			  class (no react component necessary here -->
		<div class="pg-styleguide-hollow-button-color">
			<button class="pg-lobby-hollow-button-pirate">cancel</button> 
		</div>
		<div class="pg-styleguide-hollow-button-white">
			<button class="pg-lobby-hollow-button-white">cancel</button>
		</div>
			

		</div>

	</div>

	<script src="@routes.Assets.versioned("js/game.js")" type="text/javascript" ></script>

</body>
</html>