<!DOCTYPE html>

<html lang="en">
<head>
	<title>PGP Styleguide</title>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main.css")">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<h1 class="pg-styleguide-header">
		PGP Styleguide
	</h1>

	<!-- Usage for lobby buttons can be found in 'styleguide.jsx' -->
	<div id="pg-styleguide-lobby-buttons"></div>

	<!-- Usage for lobby forms can be found in 'styleguide.jsx' -->
	<div id="pg-styleguide-lobby-forms"></div>

	<script src="@routes.Assets.versioned("js/style.js")" type="text/javascript" ></script>

</body>
</html>